/target
/models
/logs
.venv
__pycache__/
paper/
export/
back*/
.idea
dumps/
# uv.lock is untracked because different computers has different GPUs.
uv.lock
core/__pycache__/
dist/
docs/chapters/*.aux
docs/*.aux
